<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row" id="topspace"></div> <!-- to create blank top space -->
  <div class= "row">
    <% @products.each do |product| %>
    <div class ="col-sm-3 col-md-4">
      <p><%= image_tag(product.image_url, class: "img-responsive")%></p>
      <a href="#"><h2><%= product.name %></h2></a>
      <p>Description: <%= product.description %></p>
      <p>Colour: <%= product.colour %></p>
      <p>Price: <%= product.price %></p>
      <%= @test_variable %>
      <%= link_to 'Show', product %>
      <%= link_to 'Edit', edit_product_path(product) %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>
</div>

<br>

<%= link_to 'New Product', new_product_path %>


