<p id="notice"><%= notice %></p>

<h1>The Big Dogs aka The Big Boys</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <p> I Have No Idea What the Ruby codes are for and how it affects / relates to the product listing on the product page</p>

  <tbody>
    <% @products.each do |product| %>
      <tr :class => "crazy">
      <h2 :class => "loco"><%= product.name %></h2>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
  </tbody>
</table>

	<div class="maincat-title">
		<h2>Big Sized Dogs</h2>
	</div>

	<div class="container">
      <div class="row" id="maincategory">
        <div class="col-md-4 col-xs-6"><%= image_tag("Bernese.jpg", class: "img-responsive") %> Bernese Mountain Dog
        </div><!-- colmd3 -->
        
        <div class="col-md-4 col-xs-6"><%= image_tag("Rottweiler.jpeg", class: "img-responsive") %> Rottweiler
        </div><!-- colmd3 -->
        
        <div class="col-md-4 col-xs-6"><%= image_tag("Germansheperds.jpeg", class: "img-responsive") %> German Sheperd
        </div><!-- colmd3 -->
      </div><!-- end maincategory -->
      
      <div></div>

<br>

<%= link_to 'New Product', new_product_path %>


